@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --color-primary: #42CAC1;
  --color-primary_hover: #32BAB1;
  --color-primary_active: #129A91;
  --color-dark: #040403;
  --color-danger: #d04;
  --color-danger_hover: #c03;
  --color-danger_active: #A01;
  --color-blue: #3C91E6;
  --color-blue_hover: #2C81D6;
  --color-blue_active: #0C61B6;
  --color-green: #57C011;
  --color-green_hover: #47B001;
  --color-green_active: #279000;
  --color-violet: #CC00CC;
  --color-orange: #EE880A;
  --color-fontLight: #666666;
  --color-white: #FFFFFF;
  --color-grey: #E8E8EA;
}


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body{
  background-color: var(--color-grey);
  overflow-x: hidden;
}

a{
  text-decoration: none;
}

li{
  list-style:none;
}
